/* Base CSS*/
:root {
    --main-color: #479FFF;
    --lightblue-background: #b8d9ff;
    --lightgrey-background: #eeeeeeee;
    --black-text: black;
    --white-text: white;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Inter,sans-serif;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.m-20{
    margin: 20px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.m-10{
    margin: 10px;
}
/*Hover*/
.sidebar-button:hover,
.user-button:hover {
    opacity: 0.8;
}
.sidebar-container .sidebar-item:hover,
.playlist-item:hover{
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    opacity: 0.8;
}
/*User Header*/
.header {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    font-size: 22px;
    color: var(--white-text);
}
.header-container{
    justify-content: space-between;
    margin: 0 40px;
    height: 100%;
}
.menu-button{
    cursor: pointer;
}
.search-bar{
    width: 60vh;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50px;
    padding-left: 2vh;
    margin: 1vh;
}
.search-field{
    font-size: 20px;
    width: 52vh;
    background-color: transparent;
    height: 6vh;
    color: var(--white-text);
}
.search-button{
    background-color: transparent;
    color: rgba(255,255,255,0.4);
    font-size: 20px;
}

/*Nút đăng nhập, đăng ký*/
.user-button{
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
}
.user-button a{
    text-decoration: none;
    color: var(--white-text);
}
/*Admin Header*/
.admin{
    cursor: default;
}
.admin button{
    background-color: transparent;
    color: var(--white-text);
    font-size: 22px;
    cursor: pointer;
}
/*Sidebar*/
.sidebar{
    position: fixed;
    top: 8vh;
    left: 0;
    bottom: 0;
    width: 18vw;
    color: var(--white-text);
    background-color: rgb(0, 0, 0, 0.6);
    transition: width 0.5s ease;
    overflow: clip;
}
.sidebar-item{
    padding: 10px 20px;
    margin: 20px 20px 10px 20px;
    text-align: start;
    white-space: nowrap;
    font-size: 22px;
    transition: all 0.4s ease;
}
.sidebar-item a{
    color: var(--white-text);
}

.playlist-container{
    height: 0;
    margin: 0 20px;
    transition: height 0.4s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}
.playlist-container::-webkit-scrollbar{
    width: 4px;
}
.playlist-container::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px;
}
.playlist-item{
    color: var(--white-text);
    justify-content: space-between;
    font-size: 22px;
    padding: 10px 10px 10px 20px;
    margin: 10px;
    white-space: nowrap;
    transition: all 0.4s ease;
}
.playlist-name{
    overflow: hidden;
    max-width: 24vh;
    text-overflow: ellipsis;
}
/*Table Frame*/
.table-frame {
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px lightgrey;
}

.table-frame__name {
    font-size: 30px;
    font-weight: bolder;
}
/*Main content*/
.content{
    position: fixed;
    top: 8vh;
    left: 18vw;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
}
.background {
    position: fixed;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(4px);
}