.home-container{
    color: white;
    padding: 2vh;
    margin: 2vh;
    width: 96vw;
    height: 88vh;
    transition: margin-left 0.5s ease;
    overflow-y: scroll;
}
.home-container::-webkit-scrollbar{
    opacity: 1;
}
.playlist-section,.songs-section{
    padding: 4px;
}
.playlist-section-name,.songs-section-name{
    font-size: 20px;
    margin: 10px;
}
.playlist-section-list{
    display: flex;
    justify-content: space-between;
}
.playlist-section-album{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30vh;
    margin: 10px;
}
.album-img{
    width: 30vh;
    height: 30vh;
    border-radius: 10px;
}
.album-name{
    font-size: 18px;
    margin: 10px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.songs-section-list{
    display: flex;
    justify-content: space-around;
}
.list-songs{

}
.list-song-item{
    display: flex;
    width: 20vw;
    height: 8vh;
    align-items: center;
    padding: 4px;
    justify-content: space-between;
}
.song-item{
    display: flex;
}
.song-img{
    width: 40px;
    height: 40px;
    background-size: 180%;
    background-position: center;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
}
.song-info{
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.song-item-option{

}