<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/admin/css/base.css">
<link rel="stylesheet" href="/assets/admin/css/song.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
<div th:replace="~{admin/fragments/header :: header}"></div>
<div th:replace="~{admin/fragments/sidebar :: sidebar}"></div>
<div class="background" style="background-color: rgba(0,0,0,0.05);"></div>
<div class="main-content">
    <div class="song-list table-frame m-20">
        <div class="table-frame__name">DANH SÁCH BÀI HÁT</div>
        <div class="song-list__tool center">
            <div onclick="openAddSongModal()" id="add-tool">
                <div class="tool center p-10">
                    <img width="44" height="44" src="https://img.icons8.com/pulsar-color/44/add.png" alt="add"/>
                    Thêm bài hát
                </div>
            </div>
            <div id="search-tool" class="center">
                <form class="tool center p-10" action="" role="search">
                    <img width="44" height="44" src="https://img.icons8.com/pulsar-color/44/search.png"
                         alt="search"/>
                    <label>
                        <input type="search" placeholder="Tìm kiếm" name="song" autocomplete="off">
                    </label>
                </form>
                <div class="tool select-container center">
                    <label>
                        <select onchange=getSelectedField()>
                            <option value="1">Tên Bài Hát</option>
                            <option value="2">Nghệ sĩ</option>
                        </select>
                    </label>
                    <i class="fa-solid fa-circle-chevron-down"
                       style="color: var(--lightblue-background);font-size: 44px;"></i>
                </div>
            </div>
            <div id="filter-tool" class="center">
                <div class="tool center p-10">
                    <img width="44" height="44" src="https://img.icons8.com/pulsar-color/44/filter.png"
                         alt="filter"/>
                    Lọc
                </div>
                <div class="tool select-container center">
                    <label>
                        <select>
                            <option value="" selected disabled hidden>Thể Loại</option>
                            <option th:each="GenreDTO : ${listAllGenre}" th:value="${GenreDTO.getGenreId()}"
                                    th:text="${GenreDTO.getGenreName()}"></option>
                        </select>
                    </label>
                    <i class="fa-solid fa-circle-chevron-down"
                       style="color: var(--lightblue-background);font-size: 44px;"></i>
                </div>
            </div>
        </div>
        <div class="table-wrapper">
            <table class="song-list__table">
                <thead>
                    <tr>
                        <th style="width: 10%;">Ảnh</th>
                        <th style="width: 20%;">Tên Bài Hát</th>
                        <th style="width: 15%;">Nghệ Sĩ</th>
                        <th style="width: 15%;">Thể Loại</th>
                        <th style="width: 15%;">Ngày Thêm</th>
                        <th style="width: 25%;">Thao Tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="SongDTO : ${listAllSong}">
                        <td>
                            <div class="img-container">
                                <img th:src="${SongDTO.getSongImg()}" alt="">
                            </div>
                        </td>
                        <td th:text="${SongDTO.getSongName()}"></td>
                        <td th:text="${SongDTO.getArtist()}"></td>
                        <td th:text="${SongDTO.getGenre().getGenreName()}"></td>
                        <td>
                            <audio>
                                <source th:src="${SongDTO.getAudio()}" type="audio/mp3"/>
                            </audio>
                        </td>
                        <td class="center">
                            <button onclick="openUpdateSongModal()" class="update-btn center mr-20"
                                    th:data-id="${SongDTO.getSongId()}"
                                    th:data-img="${SongDTO.getSongImg()}"
                                    th:data-song_name="${SongDTO.getSongName()}"
                                    th:data-artist="${SongDTO.getArtist()}"
                                    th:data-genre="${SongDTO.getGenre().getGenreId()}">
                                <img width="30" height="30" src="https://img.icons8.com/pulsar-color/30/pencil.png"
                                     alt="pencil"/>
                                Chỉnh sửa
                            </button>
                            <a th:href="'/admin/song/deleteSongId=' + ${SongDTO.getSongId()}">
                                <button class="delete-btn center">
                                    <img width="30" height="30"
                                         src="https://img.icons8.com/pulsar-color/30/delete-trash.png" alt="delete-trash"/>
                                    Xóa
                                </button>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal modal-song">
    <div class="modal-container">
        <form method="post" enctype="multipart/form-data">
            <div class="table-frame__name">Thêm bài hát mới</div>
            <label><input type="text" name="id" hidden="hidden"></label>
            <div class="song-info m-20">
                <div class="input-wrapper">
                    <label>
                        <input type="text" name="song_name" placeholder="Tên bài hát:">
                    </label>
                </div>
                <div class="input-wrapper">
                    <label>
                        <input type="text" name="artist" placeholder="Nghệ sĩ:">
                    </label>
                </div>
                <div class="input-wrapper">
                    <label>
                        <select name="genre">
                            <option value="" selected disabled hidden>Thể Loại</option>
                            <option th:each="GenreDTO : ${listAllGenre}" th:value="${GenreDTO.getGenreId()}"
                                    th:text="${GenreDTO.getGenreName()}"></option>
                        </select>
                    </label>
                </div>
                <div class="input-wrapper audio-input">
                    <label>Chọn bài hát</label>
                    <input type="file" accept="audio/mp3" name="audio" placeholder="File bài hát:">
                </div>
                <div class="input-wrapper">
                    <label>Ảnh hiện tại</label>
                    <div class="preview-img">
                        <img src="" alt="Chưa có hình ảnh">
                    </div>
                </div>
                <div class="input-wrapper">
                    <label>Chọn hình ảnh</label>
                    <input type="file" name="img" placeholder="Hình ảnh:">
                </div>
            </div>
            <div class="modal-btn">
                <button class="accept-btn p-10" type="submit">Thêm</button>
            </div>
        </form>
    </div>
</div>
</body>
<script src="/assets/admin/js/base.js"></script>
<script src="/assets/admin/js/song.js"></script>
</html>