/* Base CSS*/
:root {
    --black-text: black;
    --white-text: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.m-20 {
    margin: 20px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.m-10 {
    margin: 10px;
}

/*Hover*/
.sidebar-item:hover,
.sidebar-item.active {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;

}

.playlist-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;

}

/*Header*/
.header {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    font-size: 22px;
    color: var(--white-text);
}

.header-container {
    justify-content: space-between;
    margin: 0 40px;
    height: 100%;
}

.menu-button {
    cursor: pointer;
}

.search-bar {
    width: 60vh;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding-left: 2vh;
    margin: 1vh;
}

.search-field {
    font-size: 20px;
    width: 52vh;
    background-color: transparent;
    height: 6vh;
    color: var(--white-text);
}

.search-button {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
}

/*Phần tài khoản*/
.user button {
    background-color: transparent;
    font-size: 22px;
    padding: 10px;
    color: var(--white-text);
    cursor: pointer;
}

/*Sidebar*/
.sidebar {
    position: fixed;
    z-index: 1;
    top: 8vh;
    left: 0;
    bottom: 0;
    width: 18vw;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    transition: width 0.5s ease;
    overflow: hidden;
}

.sidebar-item {
    padding: 10px 20px;
    margin: 20px 20px 10px 20px;

    text-align: start;
    white-space: nowrap;
    font-size: 22px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sidebar-item a {
    color: var(--white-text);
}

#add-playlist {
    position: absolute;
    bottom: 0;
}

.playlist-container {
    height: 38vh;
    margin: 0 20px;
    transition: height 0.4s ease;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist-container::-webkit-scrollbar {
    width: 4px;
}

.playlist-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

.playlist-item {
    justify-content: space-between;
    font-size: 22px;
    margin: 10px;
    white-space: nowrap;
    transition: all 0.4s ease;
    position: relative;
}
.playlist-item:first-child{
    margin-top: 0;
}

.playlist-item > a {
    color: white;
    padding: 10px;
    width: 10vw;
    flex-grow: 1;
}

.playlist-name {
    font-size: 20px;
    color: white;
    background-color: transparent;
    overflow: hidden;
    max-width: 12vw;
    text-overflow: ellipsis;
    pointer-events: none;
}

.playlist-option {
    padding: 10px;
    cursor: pointer;
}

.menu-option {
    position: fixed;
    z-index: 1;
    background-color: #353535;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-option li {
    padding: 4px 8px;
    transition: all 0.4s ease;
}

.menu-option li + li {
    margin-top: 10px;
}

.menu-option li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/*Main content*/
.content {
    position: fixed;
    top: 8vh;
    left: 18vw;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease;
}

.background {
    position: fixed;
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    filter: blur(4px);
}

/*Modal*/
.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.1);
    width: 24vw;
    background-color: #353535;
}

.modal-message {
    font-size: 24px;
    text-align: center;
    white-space: normal;
}

.table-frame__name {
    font-size: 24px;
    font-weight: bolder;
    color: white;
}

.song-info input {
    padding: 0 16px;
    border-radius: 20px;
    background-color: #ffffff1a;
    color: white;
    font-size: 16px;
    height: 40px;
    width: 100%;
}

.song-info .input-wrapper {
    margin-top: 10px;
    font-size: 18px;
}

.modal-btn {
    display: flex;
    justify-content: space-around;
}

.modal-btn button {
    border-radius: 20px;
    padding: 6px;
}

.accept-btn {
    background-color: #eeeeee;
    font-size: 20px;
    width: 9vw;
    margin-top: 20px;
    cursor: pointer;
}