.topic-container{
    color: white;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    transition: margin-left 0.5s ease;
}
.topic-container::-webkit-scrollbar{
    display: none;
}
.topic-section{
    padding: 5px;
}
.topic-section-name{
    font-size: 24px;
    font-weight: 600;
    margin: 10px;
}
.topic-section-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.topic-section-item{
    color: white;
    width: 100%;
    height: 22vh;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: end;
    cursor: pointer;
}
.topic-section-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: all 0.7s ease;
}
.topic-name{
    position: absolute;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-shadow: 0 0 10px black;
}

.songs {
    display: flex;
}

.song-img{
    width: 50px;
    height: 50px;
    margin: 4px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: end;
}
.song-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.topic-section-item:hover>img {
    scale: 1.1;
}
