.song-list__tool {
    justify-content: space-between;
}

.tool {
    font-size: 20px;
    white-space: nowrap;
    background-color: #dce8f6;
    border-radius: 30px;
    justify-content: space-between;
}

#search-tool {
    background-color: white;
    border-radius: 30px;
    margin: 4px;
}

#search-tool input {
    margin: 4px;
    font-size: 20px;
    background-color: #dce8f6;
    border-radius: 30px;
    padding: 6px 10px;
}

.select-field select {
    background-color: #dce8f6;
    appearance: none;
    height: 100%;
    border-radius: 30px;
    font-size: 20px;
    padding: 6px 20px;
    margin-left: 4px;
}

.add-song {
    color: white;
    background-color: #479FFF;
    font-size: 20px;
    min-width: 8vw;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.table-wrapper{
    height: 65vh;
    border-radius: 10px;
    overflow-y: scroll;
}
.table-wrapper::-webkit-scrollbar{
    display: none;
}

.song-list__table {
    width: 100%;
    border-spacing: 0;
}
.song-list__table thead tr:first-child {
    position: sticky;
    z-index: 1;
    top: 0;
    color: white;
    background-color: #66b0ff;
}

.song-list__table th {
    font-size: 22px;
    height: 6vh;
}

.song-list__table td {
    font-size: 22px;
    height: 72px;
    text-align: center;
    padding: 4px;
}

.song-list__table tr:nth-child(even) {
    background-color: var(--lightblue-background);
}

.update-btn,
.delete-btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 16px;
    font-size: 22px;
    padding: 2px 4px;
    color: black;
    cursor: pointer;
}

.img-container {
    width: 80px;
    height: 56px;
    overflow: hidden;
    margin: 4px auto;
}

.img-container img {
    height: 100%;
    width: 100%;
    transform: scale(1.4);
    object-fit: cover;
}

/*Modal thêm bài hát*/
.modal-song .modal-container{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.1);
    width: 30vw;
    background-color: rgb(238, 238, 238);
}

.song-info input:not([type="file"]),.song-info select{
    padding: 0 16px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    height: 48px;
    width: 100%;
}
.song-info input[type="file"]{
    font-size: 16px;
}
.song-info .input-wrapper {
    margin-top: 10px;
    font-size: 18px;
}
.preview-img{
    max-height: 100px;
}
.preview-img img{
    height: 100%;
    width: 26%;
    object-fit: cover;
}