<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/public/css/base.css">
<link rel="stylesheet" href="/assets/public/css/login.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
<body>
<div th:if="${error != null}" th:data-type="error" th:data-message="${error}" id="toast"></div>
<div th:if="${success != null}" th:data-type="success" th:data-message="${success}" id="toast"></div>
<div id="background" style="background: url('/assets/img/background/login.png') center center / cover no-repeat;"></div>
<div id="container">
    <div id="login-form">
        <form action="/forgot-password" method="post">
            <div id="login-title">Quên mật khẩu</div>
            <div class="form-input">
                <input id="email" type="email" name="email" placeholder="Email" autocomplete="off">
            </div>
            <span>*Vui lòng địa chỉ email để khôi phục mật khẩu</span>
            <div id="login-button">
                <button type="submit">Tiếp tục</button>
            </div>
            <div id="register">
                Bạn chưa có tài khoản?
                <a href="register"> Đăng ký</a>
            </div>
        </form>
    </div>
</div>
</body>
<script src="/assets/public/js/base.js"></script>
</html>