<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/public/css/base.css">
<link rel="stylesheet" href="/assets/public/css/login.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
<body>
<div th:if="${error != null}" th:data-type="error" th:data-message="${error}" id="toast"></div>
<div th:if="${success != null}" th:data-type="success" th:data-message="${success}" id="toast"></div>
<div id="background" style="background: url('/assets/img/background/login.png') center center / cover no-repeat;"></div>
<div id="container">
    <div id="login-form">
        <form action="/reset-password" method="post">
            <div id="login-title">Đặt lại mật khẩu</div>
            <div class="form-input">
                <input id="password" type="password" name="password" placeholder="Mật khẩu">
                <span onclick="togglePassword()">
                    <i class="fa-solid fa-eye"></i>
                    <i class="fa-solid fa-eye-slash" style="display: none"></i>
                </span>
            </div>
            <div class="form-input">
                <input id="verify-password" type="password" name="verifyPassword" placeholder="Nhập lại mật khẩu">
            </div>
            <div id="login-button">
                <button type="submit">Đặt lại</button>
            </div>
        </form>
    </div>
</div>
</body>
<script src="/assets/public/js/base.js"></script>
</html>