<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/user/css/base.css">
<link rel="stylesheet" href="/assets/user/css/genres.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
<div th:replace="~{user/fragments/header :: header}"></div>
<div th:replace="~{user/fragments/sidebar :: sidebar}"></div>
<div class="background"
     style="background: url('/assets/img/home.png') center center / cover no-repeat;"></div>
<div class="content">
    <div class="genres-container">
        <div class="genres-section">
            <div class="genres-section-name">Nổi Bật</div>
            <div class="genres-section-list">
                <div class="genres-section-item">
                    <div class="genres-img"
                         style="background: url('/assets/img/albums/album1.jpg') center center / cover no-repeat;">
                        <div class="genres-name">KHÚC NHẠC VUI</div>
                    </div>
                </div>
                <div class="genres-section-item">
                    <div class="genres-img"
                         style="background: url('/assets/img/albums/album1.jpg') center center / cover no-repeat;">
                        <div class="genres-name">KHÚC NHẠC VUI</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:replace="~{user/fragments/sidebar :: script}"></script>
</html>