<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/user/css/base.css">
<link rel="stylesheet" href="/assets/user/css/home.css">
<link rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
<link rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
<link rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
<link rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
<link rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
<body>
<div th:replace="~{user/fragments/header :: header}"></div>
<div th:replace="~{user/fragments/sidebar :: sidebar}"></div>
<div class="background"
     style="background: url('/assets/img/home.png') center center / cover no-repeat;"></div>
<div class="content">
    <div class="home-container">
        <div class="playlist-section">
            <div class="playlist-section-name">Nổi Bật</div>
            <div class="playlist-section-list">
                <div class="playlist-section-album"
                     th:each="index : ${#numbers.sequence(1, 5)}">
                    <div class="album-img"
                         th:style="'background: url(/assets/img/background/album'+${index}+'.jpg) center center / cover no-repeat;'"></div>
                    <div class="album-name">Nhạc trẻ gây nghiện</div>
                </div>
            </div>
        </div>
        <div class="songs-section">
            <div class="songs-section-name">Bài hát mới</div>
            <div class="songs-section-list">
                <div class="list-song">
                    <!-- biến song để lấy ra index và lệnh if để chỉ show ra 12 bài đầu-->
                    <div th:each="SongDTO,song : ${listAllSong}" th:if="${song.index < 12}"
                         class="list-song-item center">
                        <a th:href="'/user/playlist/songIndex='+${song.index}" class="song-item center">
                            <div class="song-img">
                                <img th:src="'data:image/jpg;base64,' + ${SongDTO.getSongImg()}" alt="">
                            </div>
                            <div class="song-info">
                                <h5 th:text="${SongDTO.getTitle()}"></h5>
                                <h6 th:text="${SongDTO.getArtist()}"></h6>
                            </div>
                        </a>
                        <div class="song-item-option p-10 mr-10" th:data-id="${SongDTO.getSongId()}">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-select-playlist">
    <div class="modal-container">
        <form action="/user/addSongToPlaylist" method="post">
            <label>
                <input type="text" name="songId" hidden>
            </label>
            <div class="table-frame__name center m-10">Chọn playlist:</div>
            <button class="playlist" th:each="PlaylistDTO : ${listAllPlaylist}"
                    name="playlistId" th:value="${PlaylistDTO.getPlaylistId()}">
                <i class="fa-solid fa-list-music mr-10"></i>
                <span th:text="${PlaylistDTO.getTitle()}"></span>
            </button>
        </form>
    </div>
</div>
</body>
<script src="/assets/user/js/base.js"></script>
<script src="/assets/user/js/home.js"></script>
</html>