<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/user/css/base.css">
<link rel="stylesheet" href="/assets/user/css/home.css">
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
<body>
<div th:replace="~{user/fragments/header :: header}"></div>
<div th:replace="~{user/fragments/sidebar :: sidebar}"></div>
<div th:if="${error != null}" th:data-type="error" th:data-message="${error}" id="toast"></div>
<div th:if="${success != null}" th:data-type="success" th:data-message="${success}" id="toast"></div>
<div class="background"
     style="background: url('/assets/img/background/home.png') center center / cover no-repeat;"></div>
<div class="main-content">
    <div class="home-container">
        <div class="album-section">
            <div class="album-section-name">Nổi Bật</div>
            <div class="album-section-list">
                <div class="album-section-album"
                     th:each="AlbumDTO,album : ${listAllAlbum}" th:if="${album.index} < 5">
                    <a th:href="'/user/topic/album/'+${AlbumDTO.getAlbumId()}" class="album-img">
                        <img th:src="${AlbumDTO.getImg()}" alt="Chưa có hình ảnh">
                        <div class="album-action center">
                            <i class="fa-solid fa-circle-play"></i>
                        </div>
                    </a>
                    <span class="album-name" th:text="${AlbumDTO.getName()}"></span>
                </div>
            </div>
        </div>
        <div class="songs-section">
            <div class="songs-section-name">Bài hát mới</div>
            <div class="songs-section-list">
                <div class="list-song">
                    <!-- biến song để lấy ra index và lệnh if để chỉ show ra 12 bài đầu-->
                    <div th:each="SongDTO,song : ${listAllSong}" th:if="${song.index} < 12"
                         class="list-song-item center">
                        <a th:href="'/user/song/0/songIndex='+${song.index}" class="song-item center">
                            <div class="song-img">
                                <img th:src="${SongDTO.getSongImg()}" alt="">
                            </div>
                            <div class="song-info">
                                <span th:text="${SongDTO.getSongName()}"></span>
                                <span th:text="${SongDTO.getArtist()}"></span>
                            </div>
                        </a>
                        <div class="song-option add-to-playlist p-10" th:data-id="${SongDTO.getSongId()}">
                            <i class="fa-solid fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-select-playlist">
    <div class="modal-container">
        <form action="/user/addSongToPlaylist" method="post">
            <label>
                <input type="text" name="songId" hidden>
            </label>
            <div class="table-frame__name center m-10">Chọn playlist:</div>
            <div class="playlist">
                <button class="playlist-btn" th:each="PlaylistDTO : ${listAllPlaylist}"
                        name="playlistId" th:value="${PlaylistDTO.getPlaylistId()}">
                    <i class="fa-solid fa-list-music mr-10"></i>
                    <span th:text="${PlaylistDTO.getPlaylistName()}"></span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
<script src="/assets/user/js/base.js"></script>
<script src="/assets/user/js/home.js"></script>
</html>