<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/css/user/base.css">
<link rel="stylesheet" href="/assets/css/user/playlist.css">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
<div th:replace="~{user/fragments/header :: header}"></div>
<div th:replace="~{user/fragments/sidebar :: sidebar}"></div>
<div class="background"></div>
<div class="content">
    <div class="player-container center">
        <div class="player">
            <div class="dashboard">
                <!-- Header -->
                <header>
                    <h4>Now playing:</h4>
                    <h2 class="music-name">Gura songs</h2>
                </header>
                <!-- CD -->
                <div class="cd">
                    <div class="music-img"></div>
                </div>
                <!-- Control -->
                <div class="controler">
                    <div>
                        <i class="fa-solid fa-rotate-right"></i>
                    </div>
                    <div class="prev-btn">
                        <i class="fa-solid fa-backward-step"></i>
                    </div>
                    <div class="toggle-play">
                        <i class="fa-solid fa-pause icon-pause"></i> <i
                            class="fa-solid fa-play icon-play"></i>
                    </div>
                    <div class="next-btn">
                        <i class="fa-solid fa-forward-step"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-shuffle"></i>
                    </div>
                </div>
                <!-- Time bar -->
                <label for="progress"></label>
                <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">
                <div class="current-time">00:00</div>
                <div class="duration">00:00</div>
                <!-- Audio -->
                <audio id="audio" src=""></audio>
            </div>

            <!-- Playlist -->
            <div class="music-list">
                <div th:each="SongDTO,song : ${listAllSong}" class="song"
                     th:data-index="${song.index}"
                     th:data-img="'data:image/jpeg;base64,' + ${SongDTO.getSongImg()}"
                     th:data-audio="'data:audio/mp3;base64,' + ${SongDTO.getAudio()}" type="audio/mp3"
                     th:data-title="${SongDTO.getTitle()}"
                     th:data-artist="${SongDTO.getArtist()}">
                    <div class="thumbnail">
                        <img th:src="'data:image/jpg;base64,' + ${SongDTO.getSongImg()}" alt="">
                    </div>
                    <div class="song-info">
                        <h2 th:text="${SongDTO.getTitle()}"></h2>
                        <h4 th:text="${SongDTO.getArtist()}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:replace="~{user/fragments/sidebar :: script}"></script>
<script src="/assets/js/user.js"></script>
</html>


