<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="/assets/user/css/base.css">
<link rel="stylesheet" href="/assets/user/css/playlist.css">

<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
<body>
<div th:replace="~{user/fragments/header :: header}"></div>
<div th:replace="~{user/fragments/sidebar :: sidebar}"></div>
<div class="background"></div>
<div class="main-content">
    <div class="player-container center">
        <div class="player">
            <div class="dashboard">
                <!-- Header -->
                <header>
                    <h4>Now playing:</h4>
                    <h2 class="music-name">Gura songs</h2>
                </header>
                <!-- CD -->
                <div class="cd">
                    <div class="music-img"></div>
                </div>
                <!-- Control -->
                <div class="controler">
                    <div>
                        <i class="fa-solid fa-rotate-right"></i>
                    </div>
                    <div class="prev-btn">
                        <i class="fa-solid fa-backward-step"></i>
                    </div>
                    <div class="toggle-play">
                        <i class="fa-solid fa-pause icon-pause"></i> <i
                            class="fa-solid fa-play icon-play"></i>
                    </div>
                    <div class="next-btn">
                        <i class="fa-solid fa-forward-step"></i>
                    </div>
                    <div>
                        <i class="fa-solid fa-shuffle"></i>
                    </div>
                </div>
                <!-- Time bar -->
                <label for="progress"></label>
                <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100">
                <div class="current-time">00:00</div>
                <div class="duration"></div>
                <!-- Audio -->
                <audio id="audio" src=""></audio>
            </div>

            <!-- Playlist -->
            <div class="music-list" th:data-current_song="${currentSong}">
                <div class="song center"
                     th:each="SongDTO,song : ${listAllSong}"
                     th:data-index="${song.index}"
                     th:data-img="${SongDTO.getSongImg()}"
                     th:data-audio="${SongDTO.getAudio()}"
                     th:data-song_name="${SongDTO.getSongName()}"
                     th:data-artist="${SongDTO.getArtist()}">
                    <div class="thumbnail">
                        <img th:src="${SongDTO.getSongImg()}" alt="">
                    </div>
                    <div class="song-info">
                        <h2 th:text="${SongDTO.getSongName()}"></h2>
                        <h4 th:text="${SongDTO.getArtist()}"></h4>
                    </div>
                    <div th:if="${topicName} == 'playlist'" class="song-option delete-song__btn"
                         th:data-id="${SongDTO.getSongId()}">
                        <i class="fa-solid fa-trash-can mr-10"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-delete-song">
    <div class="modal-container">
        <div class="modal-message">
            <span>Xóa bài hát này khỏi playlist?</span>
        </div>
        <div class="modal-btn">
            <a href="">
                <button class="accept-btn p-10">Xóa</button>
            </a>
        </div>
    </div>
</div>
</body>
<script src="/assets/user/js/base.js"></script>
<script src="/assets/user/js/playlist.js"></script>
</html>


