<div th:fragment="sidebar" class="sidebar" style="background-color: #222d31">
    <div class="sidebar-container">
        <div class="sidebar-item">
            <div class="home-icon">
                <i class="fa-solid fa-music mr-10"></i>
                <a href="/user/home">Bài Hát</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="home-icon">
                <i class="fa-solid fa-icons mr-10"></i>
                <a href="/user/home">Thể Loại</a>
            </div>
        </div>
        <div class="sidebar-item">
            <div class="home-icon">
                <i class="fa-solid fa-images mr-10"></i>
                <a href="/user/home">Album</a>
            </div>
        </div>
    </div>
</div>