<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
</head>
<link rel="stylesheet" href="assets/user/css/login.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<body>
<div id="container">
    <div id="background" style="background: url('/assets/img/login.png') center center / cover no-repeat;"></div>
    <div id="login-form">
        <form th:action="@{/login}" method="post">
            <div id="login-title">Login</div>
            <div class="form-input">
                <input id="user" type="text" name="username" placeholder="Username" autocomplete="off">
            </div>
            <div class="form-input">
                <input id="password" type="password" name="password" placeholder="Password">
                <span onclick="togglePassword()">
                    <i class="fa-solid fa-eye"></i>
                    <i class="fa-solid fa-eye-slash" style="display: none"></i>
                </span>
            </div>
            <div id="forgot-password">
                <a href="forgot_password">Forgot Password?</a>
            </div>
            <div id="login-button">
                <button type="submit">Login</button>
            </div>
            <div id="register">
                Don't have an account?
                <a href="register.jsp">Register</a>
            </div>
        </form>
    </div>
</div>
</body>
<script>
    function togglePassword() {
        const passwordField = document.querySelector("#password");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            document.querySelector(".fa-eye").style.display="none";
            document.querySelector(".fa-eye-slash").style.display="inline";
        } else {
            passwordField.type = "password";
            document.querySelector(".fa-eye").style.display="inline";
            document.querySelector(".fa-eye-slash").style.display="none";
        }
    }
</script>
</html>