<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">
<div th:fragment="header" class="header">
    <div class="header__container center">
        <a href="admin/song" class="header__left">
            <i class="fa-solid fa-compact-disc"></i>
            Music Player
        </a>
        <div class="header__right">
            <div class="notification mr-10 center">
                <img width="30" height="30" src="https://img.icons8.com/pulsar-color/30/appointment-reminders.png"
                     alt="appointment-reminders"/>
            </div>
            <div class="account center">
                <img class="mr-10" width="30" height="30" src="https://img.icons8.com/pulsar-color/30/reviewer-male.png"
                     alt="reviewer-male"/>
                <span sec:authentication="name"></span>
                <!-- Hiển thị khung tùy chọn tài khoản -->
                <div class="account-setting">
                    <div class="option-wrapper">
                        <a href="/user/home" class="setting-option center" id="profile">
                            <span>Về trang chủ người dùng</span>
                            <img width="30" height="30" src="https://img.icons8.com/pulsar-color/30/music.png"
                                 alt="music"/>
                        </a>
                        <div class="setting-option center" id="logout" onclick=openLogoutModal()>
                            <span>Đăng xuất</span>
                            <img width="29" height="29" src="https://img.icons8.com/pulsar-color/29/000000/exit.png"
                                 alt="exit"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-logout">
        <div class="modal-container">
            <div class="modal-message">
                <h2>Bạn có chắc chắn muốn đăng xuất không?</h2>
            </div>
            <div class="modal-btn">
                <form th:action="@{/logout}">
                    <button class="accept-btn p-10" type="submit">Có</button>
                </form>
            </div>
        </div>
    </div>
</div>
</html>