<div th:fragment="sidebar" class="sidebar">
    <div class="sidebar-title">Quản Lý</div>
    <div class="sidebar-menu">
        <ul>
            <li id="song">
                <a href="/admin/song">
                    <img width="40" height="40" src="https://img.icons8.com/pulsar-color/40/music.png" alt="music"/>
                    <span>Bài Hát</span>
                </a>
            </li>
            <li id="genres">
                <a href="/admin/genre">
                    <img width="40" height="40" src="https://img.icons8.com/pulsar-color/40/music-library.png" alt="music-library"/>
                    <span>Thể Loại</span>
                </a>
            </li>
            <li id="albums">
                <a href="/admin/album">
                    <img width="40" height="40" src="https://img.icons8.com/pulsar-color/40/stack-of-photos.png" alt="stack-of-photos"/>
                    <span>Album</span>
                </a>
            </li>
        </ul>
    </div>
</div>