
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="">

<div th:fragment="header" class="header">
    <div class="header-container center">
        <div class="menu-button">
            <i class="fa-solid fa-bars mr-10"></i>
            Music Player
        </div>
        <div class="search-bar">
            <form action="" role="search">
                <input class="search-field" type="text" name="song" placeholder="Tìm kiếm bài hát...">
                <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="user center">
            <div class="account mr-10">
                <i class="fa-solid fa-user"></i>
                Hello <span sec:authentication="name"></span>
            </div>
            <form th:action="@{/logout}">
                <button type="submit">
                    Đăng xuất
                    <i class="fa-solid fa-right-from-bracket"></i>
                </button>
            </form>
        </div>
    </div>
</div>

</html>