<div th:fragment="sidebar" class="sidebar">
    <div class="sidebar-item" id="home">
        <a href="/user/home" class="home-icon">
            <i class="fas fa-home mr-10"></i>
            Trang chủ
        </a>
    </div>
    <div class="sidebar-item" id="genres">
        <a href="/user/genres" class="genres-icon">
            <i class="fas fa-user mr-10"></i>
            Thể loại
        </a>
    </div>
    <div class="sidebar-item" id="playlists">
        <div class="list-icon">
            <i class="fa-solid fa-list-ul mr-10"></i>Danh sách phát
        </div>
    </div>
    <div class="playlist-container">
        <a th:each="PlaylistDTO : ${listAllPlaylist}"
           th:href="'/user/playlist/' + ${PlaylistDTO.getPlaylistId()}" class="playlist-item center">
            <span th:text="${PlaylistDTO.getTitle()}" class="playlist-name"></span>
            <span class="playlist-option"><i class="fa-solid fa-ellipsis-vertical"></i></span>
        </a>
    </div>
    <div class="sidebar-item" id="add-playlist">
        <div class="add-playlist-icon">
            <i class="fa-solid fa-plus mr-10"></i>Tạo playlist mới
        </div>
    </div>
</div>