<div th:fragment="sidebar" class="sidebar">
    <div class="sidebar-item" id="home">
        <a href="/user/home" class="home-icon">
            <i class="mr-10 fas fa-home"></i>
            Trang chủ
        </a>
    </div>
    <div class="sidebar-item" id="genres">
        <a href="/user/genres" class="genres-icon">
            <i class="mr-10 fas fa-user"></i>
            Thể loại
        </a>
    </div>
    <div class="sidebar-item" id="playlists">
        <div class="list-icon">
            <i class="mr-10 fa-solid fa-list-ul"></i>Danh sách phát
        </div>
    </div>
    <div class="playlist-container">
        <a href="/user/playlist" class="playlist-item center">
            <span class="playlist-name">Playlist 1</span>
            <span class="playlist-option"><i class="fa-solid fa-ellipsis-vertical"></i></span>
        </a>
        <div class="playlist-item center">
            <span class="playlist-name">Playlist 2</span>
            <span class="playlist-option"><i class="fa-solid fa-ellipsis-vertical"></i></span>
        </div>
        <div class="playlist-item center">
            <span class="playlist-name">Playlist 3</span>
            <span class="playlist-option"><i class="fa-solid fa-ellipsis-vertical"></i></span>
        </div>
    </div>
</div>
<script th:fragment="script">
    // Kích hoạt active cho sidebar item
    const currentPage = window.location.pathname.split('/').pop(); // Xác định trang hiện tại
    const sidebarItems = document.querySelectorAll(".sidebar-item")
    sidebarItems.forEach(item => {
        if (item.id === currentPage) {
            item.classList.add('active');
        }
    });
    //Bật tắt sidebar
    const menuBtn = document.querySelector('.menu-button')
    menuBtn.addEventListener('click', function () {
        const sidebar = document.querySelector(".sidebar")
        const mainContent = document.querySelector(".content")
        if (sidebar.offsetWidth !== 0) {
            sidebar.style.width = 0
            mainContent.style.left = "9vw"
            mainContent.style.right = "9vw"
        } else {
            sidebar.style.width = "18vw"
            mainContent.style.left = "18vw"
            mainContent.style.right = 0
        }

    })
    // Bật tắt sidebar playlist
    const sidebarPlaylist = document.querySelector('#playlists')
    sidebarPlaylist.addEventListener('click', function () {
        const playlistContainer = document.querySelector('.playlist-container')
        if (playlistContainer.offsetHeight === 0) {
            playlistContainer.style.height = "24vh"
        } else {
            playlistContainer.style.height = "0"
        }
    })
    if (currentPage === "playlist") sidebarPlaylist.click()
</script>